Repository GetReconnectED/ReconnectED, pull requests merged in 2025-10, with the labels that each got.

#26 chore: consistent naming scheme
  .github/dependabot.yml
  .github/workflows/test.yml
  ReconnectED-Android/app/src/main/AndroidManifest.xml
  ReconnectED-Android/app/src/main/res/values/strings.xml
  ReconnectED-Android/app/src/main/res/values/themes.xml
  ReconnectED-Android/settings.gradle.kts
  ReconnectED-web/.gitignore
  ReconnectED-web/README.md
  ReconnectED-web/app/app.vue
  ReconnectED-web/app/assets/css/main.css
  ReconnectED-web/bun.lock
  ReconnectED-web/eslint.config.mjs
  ReconnectED-web/nuxt.config.ts
  ReconnectED-web/package.json
  ReconnectED-web/public/favicon.ico
  ReconnectED-web/public/robots.txt
  ReconnectED-web/tsconfig.json
Labels: kind > enhancement, scope > android, scope > web

#22 chore!: merge and migrate from ReconnectED_A to ReconnectED
  ReconnectED-Android/.gitattributes
  ReconnectED-Android/.gitignore
  ReconnectED-Android/README.md
  ReconnectED-Android/app/build.gradle.kts
  ReconnectED-Android/app/src/androidTest/java/com/getreconnected/reconnected/ExampleInstrumentedTest.kt
  ReconnectED-Android/app/src/main/AndroidManifest.xml
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/HomeActivity.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/MainActivity.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ReconnectedApp.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/data/AppDatabase.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/data/Converters.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/data/GetDailyStats.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/data/GetWeeklyStats.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/data/Permissions.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/data/ReconnectedViewModelFactory.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/data/ScreenTimeRepository.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/data/WeeklyScreenTime.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/data/WeeklyScreenTimeDao.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/elements/NavDrawerContent.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/elements/StatCard.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/elements/TopBar.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/elements/WeeklyCard.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/menus/Assistant.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/menus/Calendar.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/menus/Dashboard.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/menus/ScreenTimeLimit.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/menus/ScreenTimeTracker.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/navigation/AppNavigation.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/navigation/ReconnectedViewModel.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/screens/LoginScreen.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/screens/MainScreen.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/screens/SplashScreen.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/theme/Font.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/theme/Theme.kt
  ReconnectED-Android/app/src/main/res/drawable/gemini_logo.png
  ReconnectED-Android/app/src/main/res/drawable/ic_default_app.xml
  ReconnectED-Android/app/src/main/res/drawable/screen_time_limit_green.xml
  ReconnectED-Android/app/src/main/res/menu/activity_main_drawer.xml
  ReconnectED-Android/app/src/main/res/menu/test.xml
  ReconnectED-Android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  ReconnectED-Android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  ReconnectED-Android/app/src/main/res/navigation/mobile_navigation.xml
  ReconnectED-Android/app/src/main/res/values-land/dimens.xml
  ReconnectED-Android/app/src/main/res/values-w1240dp/dimens.xml
  ReconnectED-Android/app/src/main/res/values-w600dp/dimens.xml
  ReconnectED-Android/app/src/main/res/values/dimens.xml
  ReconnectED-Android/app/src/main/res/values/strings.xml
  ReconnectED-Android/app/src/main/res/values/themes.xml
  ReconnectED-Android/build.gradle.kts
  ReconnectED-Android/gradle/libs.versions.toml
  ReconnectED-Android/gradle/wrapper/gradle-wrapper.properties
  ReconnectED-Android/settings.gradle.kts
Labels: kind > enhancement, scope > android

#27 fix(android)!: finalize intergration
  ReconnectED-Android/app/build.gradle.kts
  ReconnectED-Android/app/src/main/AndroidManifest.xml
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/HomeActivity.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/LoginActivity.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/MainActivity.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/core/auth/GoogleAuth.kt
  ReconnectED-Android/app/src/main/java/com/getreconnected/reconnected/ui/screens/LoginScreen.kt
  ReconnectED-Android/gradle/libs.versions.toml
Labels: kind > bug, scope > android
